@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-text {
    animation: fadeIn 1.5s ease-in-out;
  }
  
  @keyframes fadeRightToCenter {
    0% {
      opacity: 0;
      transform: translateX(50px); 
    }
    100% {
      opacity: 1;
      transform: translateX(0); 
    }
  }
  
  .animated-heading {
    animation: fadeRightToCenter 1.5s ease-in-out;
  }
  